* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width:10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: white; 
}

::-webkit-scrollbar-thumb {
    background: #99dfbe; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1ba364; 
}

header {
    height: 8px;
    vertical-align: middle;
    background-color: #1ba364;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
    float: left;
    
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    height: 18px;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #363636;
    
}

nav li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 0px 20px 0px 20px;
    float: left;
    color: white;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color: #1ba364
}


section {
    margin-top: 3px;
    width:100%;
    height: 97vh;
    float: right;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    user-select: text;
    overflow: hidden;
}

/*
#logsOutput {
    font-size: 11px;
}


#logsOutput th {
    background-color: #1ba364;
    color: white;
    text-align: left;
}



#logsOutput tr:nth-child(even){
    background-color: #eeeeee;
}

#logsOutput tr:nth-child(odd){
    background-color: white;
}
*/
.row {
   display: flex;
}

.columnL {
    width: 60%;
    overflow: scroll;
}

.columnR {
    width: 40%;
    overflow: scroll;
}

table {
    font-size: 11px;
    border: none;
    border-collapse: collapse;
}

div {
    overflow: scroll;
}

article  {
    /*width: 50%;*/
    height: 100%;
    overflow: scroll;

}

td {
    word-wrap: break-word;

}
th {
    background-color: #1ba364;
    color: white;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

tr:nth-child(even){
    background-color: #eeeeee;
}

tr:nth-child(odd){
    background-color: white;
}

/*
.cNum {
    width:60px;
}
.cTime {
    width: 65px;
}
.cType {
    width: 30px;
}

.cLevel {
    width:45px;
}
*/
.SIP {
    font-weight: bold;
    color: #1ba364;
}

.cMessage {
    /*width: 80%;*/
    /*word-wrap: break-word;*/
    white-space: pre-line;
}

footer {
    position: fixed;
    margin: 0;
    padding-bottom: 2px;
    bottom: 0;
    width: 100%;
    height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    background-color:#1ba364;
    color:white;
    text-align: right;
/*
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%; 
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}*/



/*
nav {
    height: 18px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #363636;
    
}

nav li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 0px 20px 0px 20px;
    float: left;
    color: white;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    
    text-decoration: none;
}

nav li a:hover {
    background-color: #1ba364
}

aside {
    width: 20%;
    height: calc(100vh - 30px);
    background-color: #999999;
    float: left;
}
aside label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
aside li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    color: white;
}


aside li a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
}

aside li a:hover {
    background-color: #1ba364
}



section article.videoElements {
    background-color: white;
    height: 40%;
    scroll-behavior: smooth;
    overflow: auto;
    white-space: nowrap;
}

section video {
    width: auto;
    height: calc(100% - 5px);
}

section article.textChat {
    background-color: white;
    height: 45%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

section article.textChat p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
}

section article.textChat p.remoteLabel {
    color: #363636;
    font-weight: bold;
    font-style: italic;
    padding: 0px 40% 0 5px
}

section article.textChat p.localLabel {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding: 0px 5px 0 60%;
}

section article.textChat p.remote {
    color: #363636;
    padding: 0px 40% 0 5px
}

section article.textChat p.local {
    text-align: right;
    color: black;
    padding: 0px 5px 0 40%;
}

section article.textChat p.system {
    width:100%;
    font-size:11pt; 
    color:#1ba364; 
    text-align: center;
}

section article.textChat p.systemLabel {
    color: #1ba364;
    text-align: center;
}

section article.textInput{
    height: 15%;
}

section article.textInput textarea{
    width: 90%;
    height: calc(100% - 2px);
    resize: none;
    outline: none;
    border: none;
    border-color: #1ba364;
    background-color: #00000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    outline-color: transparent;
    outline-style: none;
}

section article.textInput textarea:focus {
    outline: none;
    border:  none;
    margin: 0;
    padding: 0;
    outline-color: transparent;
    outline-style: none;
}

section article.textInput button{
    float: right;
    width:10%;
    height: 100%;
    background-color: #999999;
    border:none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    outline: none;
}

section article.textInput button:hover {
    background-color: #1ba364;
    color:white;
    outline: none;
}

section article.textInput button:focus {
    background-color: #1ba364;
    color:white;
    outline: none;
}


*/